@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  animation: whiteFadeIn 3s ease 0s 1 normal;
}

@keyframes whiteFadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes whiteFadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

// aos-distance override
@import 'animations';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.swiper {
  width: 100%;
}

.image-container {
  width: 100%;
  > span {
    position: unset !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@media (max-width: 640px) {
  
}
