.header {
    width: 100%;
    margin: 0 auto 20px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

img.header_logo {
        animation: topLogofadeIn 5s ease 0s 1 normal backwards;
    }
    @keyframes topLogofadeIn {
        from {
            opacity: 0.1;
            transform: translateX(-30px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
    }
}

.header_phone {
    width: 48px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.humburger {
    display: none;
    background-color: rgb(34, 35, 36);
    color: white;
    z-index: 99;
    padding: 10px 5px 0 5px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
    span {
        background-color: white;
        width: 30px;
        height: 1px;
        display: block;
        margin-bottom: 7px;
        &:nth-child(1) {
            width: 20px;
            margin-left: 10px;
        }
    }
    p {
        font-size: 13px;
        margin-top: -4px;
        margin-bottom: 5px;
    }
}
.drawerMenu {
    width: 0;
    color: white;
    background-color: rgb(34, 35, 36);
    height: 0;
    opacity: 0;
    z-index: -100;
    //min-height: 100vh;
    //min-height: -webkit-fill-available;
    &.open {
        //height: 100vh;
        height: -webkit-fill-available;
        opacity: 0.9;
        z-index: 100;
    }
    li {
        list-style-type: none!important;/*ポチ消す*/
    }
    li:before { 
        display:inline-block;
        /*以下白丸つくる*/
        content:'';
        width: 1em;
        height: 1em;
        background: #f7e90b;
        border-radius: 50%;
        margin-right: 20px;
    }
}

@media (max-width: 640px) {
    .header {
        position: initial;
        margin: 0 auto -35px;
    }
    .humburger {
        display: block;
    }
    .drawerMenu {
        width: 100%;
        position: fixed;
        top: 0;
        ul {
            width: 90%;
            margin: 0 auto;
            padding: 0;
            li {
                margin-bottom: 25px;
                opacity: 0.8;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 200;
            }
        }
    }
    .mobileLogo {
        width: 250px;
        height: 80px;
        display: inline-block;
        position: absolute;
        top: 0px;
    }
    .mainTitle {
        display: inline-block;
        font-size: 28px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }
    .close {
        cursor: pointer;
        margin-top: 30px;
        margin-right: -3px;
        span {
            background-color: white;
            width: 50px;
            height: 2px;
            display: block;
            margin-bottom: 10px;
            margin: 0 0 10px auto;
            &:first-child {
                transform: translateY(6px) rotate(135deg);
            }
            &:nth-child(2) {
                transform: translateY(-6px) rotate(-135deg);
                margin-bottom: 0;
            }
        }
        p {
            text-align: right;
            font-size: 19px;
            padding-top: 20px;
        }
    }
    .header_logo {
        width: 300px;
        height: 90px;
    }
    .humburger {
        top: 15px;
        right: 20px;
    }
    .mobileLogo {
        width: 190px;
        height: 60px;
        top: 10px;
    }
}
