.slider_image {
    position: relative;
    width: 100%;
    height: 500px;
}
.slider_image_message {
    color: white;
    line-height: 1.5;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 2.5rem;
    text-shadow: 1px 2px 3px #808080;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.slider_image_message.slider_image_message_2nd {
    bottom: 100px;
    font-size: 3.5rem;
}

.slider_image_message.slider_image_message_3nd {
    bottom: 250px;
    font-size: 3rem;
}

@media (max-width: 640px) {
    .slider_image {
        height: 400px;
    }
    .slider_image_message {
        left: 5px;
        p {
            font-size: 7vw;
        }
    }
    .slider_image_message.slider_image_message_2nd {
        bottom: 90px;
        p {
            font-size: 2.5rem;
        }
    }
    .slider_image_message.slider_image_message_3nd {
        font-size: 2.5rem;
    }

}
